@model MeetingWebsite.Models.User
@using MeetingWebsite.Models
@using MeetingWebsite.ModelsView.UserModels
@{
    ViewData["Title"] = "Пользователь";
}
<div class="d-flex flex-column w-75 border ml-3">
    <div class="card-header">
        <span>@Model.FirstName @Model.LastName</span>
    </div>
    <form class="p-2 pt-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group d-flex ">
            <label class="control-label col-4 text-right" style="line-height: 38px;">Возраст</label>
            <input asp-for="Age" type="number" class="form-control col-5" min="0" max="100" value="@Model.Age" />
        </div>
        <div class="form-group d-flex ">
            <label class="control-label col-4 text-right" style="line-height: 38px;">Пол</label>

            @Html.DropDownListFor(x => x.Sex, Html.GetEnumSelectList(typeof(Sex)), new { @class = "form-control col-5" })
        </div>

        <div class="form-group d-flex ">
            <label class="control-label col-4 text-right" style="line-height: 38px;">Ник</label>
            <input asp-for="Nickname" class="form-control col-5" value="@Model.Nickname" />
        </div>

        <div class="form-group d-flex ">
            <label class="control-label col-4 text-right" style="line-height: 38px;">Email</label>
            <input asp-for="Email" class="form-control col-5" value="@Model.Email" readonly />
        </div>

        <div class="form-group d-flex ">
            <label class="control-label col-4 text-right" style="line-height: 38px;">Номер телефона</label>
            <input asp-for="PhoneNumber" class="form-control col-5" value="@Model.PhoneNumber" />
        </div>

        <div class="form-group d-flex ">
            <label class="control-label col-4 text-right" style="line-height: 38px;">Город</label>
            <input asp-for="City" class="form-control col-5" value="@Model.City" />
        </div>

        <div class="form-group d-flex ">
            <label class="control-label col-4 text-right">Коротко о себе</label>

            <textarea name="BriefInformation" class="form-control col-5" value="@Model.BriefInformation"></textarea>
        </div>
        <div class="form-group mb-1 d-flex justify-content-center">
            <input onclick="update()" type="submit" class="btn btn-sm btn-primary" value="Сохранить изменения" />
        </div>
        <div class="text-center">
            <label class="text-danger" id="error"></label>
        </div>
    </form>
</div>

<script>
    function update() {
        @{
            UpdateUserView user =new UpdateUserView();
            user.Age = Model.Age;
            user.PhoneNumber = Model.PhoneNumber;
        }
        send("/api/User", 'PUT', refresh, JSON.stringify([user]));
    }
    function refresh(response) {
        debugger;
        if (response.status != 200)
            alert(response.responseText);
    }
</script>